<h1>Hello!</h1>
<% if client_signed_in? -%>
  <h2>Challenge someone to a game:</h2>
  <%= render :partial => "clients/challengable", :locals => { :challengable_users => @challengable_users } %>	
<% else -%>
  <p><%= link_to 'Sign up as User', new_client_registration_path %></p>
  <p><%= link_to 'Sign in as User', new_client_session_path %></p>
<% end -%>

