<h1>Challenge <%=@opponent.email%> to a match!</h1>

Your Play:
<%- ["rock", "paper", "scissors"].each do |play| -%>
	<% form_for :game, :url => { :action => "" } do |f| %>
	  <%= hidden_field_tag 'play', play%>
	  <%= hidden_field_tag 'opponent_id', @opponent.id %>
      <%= submit_tag play.titleize %>
    <% end %>  
<%- end -%>